.home-page {
  height: calc(100vh - 70px);
  background-color: #fafbfd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 90px !important;
}

.homepage-header-col1 {
  width: 35%;
  height: 100%;
  /* color: white; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-bottom: 80px;
}

.homepage-header-col2 {
  width: 65%;
  height: 100%;
}

.homepage-header-col2 img {
  width: 100%;
}

.homepage-header-col1 .homepage-header-col1t1 {
  color: #013d79;
}

.homepage-header-col1 .homepage-header-col1t1 {
  margin-bottom: 20px;
}

.homepage-header-col1 .homepage-header-col1t1 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 64px;
}

.homepage-header-col1 .homepage-header-col1t2 {
  margin-bottom: 20px;
}

.homepage-header-col1 .homepage-header-col1t2 h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 45px;
}

.homepage-header-col1 .homepage-header-col1t3 {
  margin-bottom: 50px;
}

.homepage-header-col1 .homepage-header-col1t3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(1, 49, 97, 0.8);
}

.homepage-header-col1 .homepage-header-col1t4 img {
  width: 140px;
  cursor: pointer;
  margin-right: 10px;
}

.homepage-header-col1 .homepage-header-col1t4 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.col2-home {
  /* height: 500px; */
  padding-top: 60px;
  background-color: #edf6ff;
  padding-bottom: 50px;
}

.col2-home-col1 {
  /* background-color: red; */
  display: flex;
  /* justify-content: center;
  al */
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  text-align: center;
}

.col2-home-col1 h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
  color: #013d79;
}

.col2-home-col1 p {
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 31, 61, 0.75);
}

.col2-home-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5;
}
.col2-home-col2grid {
  background-color: white;
  height: 200px;
  margin-bottom: 10px;
  width: 98%;
  border-radius: 5px;
  margin-right: 10px;
}
.col2-home .col2-home-ch1 h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 152%;
  max-width: 560px;
}

.col2-home-col2grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.col2-home-col2grid-col1 {
  margin-right: 30px;
  width: 20%;
  /* background-color: red; */
}
.col2-home-col2grid-col1 svg {
  width: 100px;
}

.col2-home-col2grid-col2 {
  width: 80%;
}

.col2-home-col2grid-col2 h2 {
  font-weight: bold;
  font-size: 20px;
  color: #013d79;
}

.col2-home-col2grid-col2 p {
  font-size: 13px;
  line-height: 28px;
  color: rgba(0, 31, 61, 0.75);
  margin-top: 10px;
}

.col2-home .col2-home-ch1 .col2-home-hr {
  max-width: 300px;
  background-color: #404040;
  margin-top: 30px;
  height: 1px;
}

.col2-home-ch2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.col2-home-ch1-col1 {
  width: 48%;
  height: 350px;
}

.col2-home-ch1-col1 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.col2-home-ch1-col2 {
  width: 48%;
  height: 400px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.col2-home-ch1-col2 h2 {
  font-size: 19px;
  line-height: 33px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 20px;
}

.col2-home-ch1-col2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #0d0d0d;
}

.col2-home-ch1-col2 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin-top: 20px;
}

.col3-home {
  /* height: 500px; */
  width: 100%;
  /* margin-top: 40px; */
  padding-bottom: 0px;
  background-color: #fafbfd;
  /* padding-bottom: 390px !important; */
}

.col3-home .col3-home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-top: 90px;
  padding-bottom: 90px;
}

.col3-home .col3-home-header p {
  font-size: 15px;
  line-height: 28px;
  color: #013d79;
  margin-top: 10px;
}
.col3-home .col3-home-header h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 60px;
  text-align: center;
  color: #013d79;
}

.caroldghomes2 {
  position: relative;
  width: 100%;
}

.caroldghomes2text {
  position: relative;
  bottom: 0;
  left: 15%;
}

.carousel-wrapper {
  background-color: rgb(235, 235, 235);
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 90%;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.726);
  transition: all 500ms ease;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay-content {
  color: rgb(255, 255, 255);
  position: absolute !important;
  bottom: 6% !important;
  left: 45% !important;
  text-align: center;
}

.overlay-content h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 143%;
  text-align: center;
  color: #ffffff;
}

.overlay-content p {
  font-size: 12px;
  line-height: 143%;
  /* or 17px */

  text-align: center;

  color: #d79463;
  cursor: pointer;
}

.col5-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col5-home .col5-home-co1 {
  width: 32%;
}

.col5-home .col5-home-co1 img {
  width: 100%;
  border-radius: 4px;
}

.col5-home .col5-home-co1 h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #070f15;
  margin-top: 10px;
}

.col5-home .col5-home-co1 p {
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: #000000;
  margin-top: 20px;
  cursor: pointer;
  /* text-align: center; */
}

.col4-home {
  display: flex;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 0;
  justify-content: center;
}

.col4-home-col1 {
  /* width: 50%; */
}

.col4-home-col1 img {
  /* width: 90%; */
  height: 500px;
}

.col4-home-col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 100px; */
  padding-left: 100px;
  padding-top: 90px;
}

.col4-home-col2 h2 {
  font-weight: bold;
  font-size: 31px;
  line-height: 44px;
  color: #013d79;
}

.col4-home-col2 p {
  font-size: 15px;
  line-height: 28px;
  color: rgba(0, 31, 61, 0.75);
  margin-top: 10px;
  margin-bottom: 30px;
}

.col4-home-col2 button {
  color: #013d79;
  border: 1px solid #013d79;
  width: 140px;
  background-color: transparent;
  height: 45px;
  border-radius: 8px;
  cursor: pointer;
}

.col5-home {
  width: 100%;
  display: flex;
  background: #edf6ff;
  height: 700px;
  overflow: hidden;
}
.col5-home-col1 {
  width: 50%;
  height: 100%;
}

.col5-home-col1 img {
  width: 100%;
  /* height: 650px; */
  -o-object-fit: contain;
  object-fit: contain;
}

.col5-home-col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
  padding-left: 90px;
  padding-top: 80px;
}

.col5-home-col2-col1 h2 {
  font-weight: bold;
  font-size: 30px;
  color: #013d79;
}

.col5-home-col2-col1 p {
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: rgba(0, 31, 61, 0.75);
  margin-top: 10px;
}

.col5-home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.col5-home-grid > div {
  background-color: white;
  height: 200px;
  width: 97%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 40px;
}

.col5-home-grid > div:last-child {
  position: relative;
  top: 17px;
}

.col5-home-grid > div h2 {
  font-size: 17px;
  color: #013d79;
  margin-top: 30px;
}

.col5-home-grid > div:nth-of-type(2) {
  position: relative;
  top: 17px;
  background-color: #013d79;
}

.col5-home-grid > div:nth-of-type(2) h2 {
  color: white;
}

.col6-home {
  background-color: white;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.col6-home-col1 h2 {
  font-size: 27px;
  color: #013d79;
  font-weight: bold;
}

.col6-home-col1 p {
  font-size: 13px;
  line-height: 24px;
  color: rgba(0, 31, 61, 0.75);
  margin-top: 10px;
}

.col6-home-col1 button {
  background: #ffb90d;
  border-radius: 6px;
  padding: 15px;
  border: none;
  color: white;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.col6-home .dgqu3ubdkl {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dgqu3ubdkl img {
  width: 400px;
}
.col7-home {
  background: #edf6ff;
}

.col7-home {
  display: flex;
}

.col7-home-col1 {
  /* height: 600px; */
  width: 60%;
}

.col7-home-col2 {
  height: 500px;
  width: 40%;
  overflow: hidden;
}

.col7-home-col2 img {
  /* height: 100%; */
  width: 100%;
}

.col7-home-col1 {
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col7-home-col1 h2 {
  font-size: 27px;
  color: #013d79;
  font-weight: bold;
}

.col7-home-col1 p {
  font-size: 13px;
  line-height: 24px;
  color: rgba(0, 31, 61, 0.75);
  margin-top: 10px;
}

.col7-home-col1 button {
  background: #ffb90d;
  border-radius: 6px;
  padding: 15px;
  border: none;
  color: white;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.col3-home-slideChild {
  /* height: 200px; */
  background: #edf6ff;
  padding: 50px;
  border-radius: 5px;
}

.scstcard {
  width: 100%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 5px;
}

.scstcard img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.scstcard h2 {
  font-size: 14px;
  line-height: 32px;

  text-align: center;

  color: #013d79;
}

.scstcard p {
  font-size: 14px;
  line-height: 28px;
  text-align: center;

  color: rgba(1, 61, 121, 0.7);
  margin-top: 12px;
  margin-bottom: 20px;
}
@media (max-width: 1075px) {
  .col5-home {
  }
  .col5-home-col1 {
    display: none;
  }

  .col5-home-col2 {
    width: 100%;
  }
  .col5-home-col2-col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .homepage-header-col1 {
    width: 40%;
    height: 100%;
  }

  .homepage-header-col1 h2 br {
    display: none;
  }

  .homepage-header-col1 .homepage-header-col1t1 h2 {
    font-size: 36px;
  }

  .homepage-header-col2 {
    width: 60%;
  }

  .home-page {
    /* height: calc(70vh - 70px); */
  }
}

@media (max-width: 996px) {
  .col2-home-col2grid {
    padding: 20px;
    width: 100%;
  }
  .col7-home-col2 {
    display: none;
  }
  .col7-home-col1 {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 80px;
    text-align: center;
  }
}

@media (max-width: 854px) {
  .col4-home-col1 {
    display: none;
  }
  .col4-home-col2 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 68px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding-left: 0;
  }
  .col4-home-col2 p br {
    display: none;
  }
}

@media (max-width: 810px) {
  .col2-home-col2 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 812px) {
  .homepage-header-col1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .homepage-header-col1 h2 br {
    display: none;
  }

  .homepage-header-col1 p br {
    display: none;
  }

  .homepage-header-col1 .homepage-header-col1t1 h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .homepage-header-col2 {
    width: 100%;
  }

  .home-page {
    /* height: calc(70vh - 70px); */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column-reverse;
    margin-top: -70px;
  }
}

@media (max-width: 768px) {
  .col2-home-col1 h2 {
    font-size: 22px;
  }
  .col3-home-slideChild {
    /* height: 200px; */
    background: #edf6ff;
    padding: 50px;
    border-radius: 5px;
    /* width: 100vw !important; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }
}

@media (max-width: 752px) {
  .col5-home-col2-col1 p br {
    display: none;
  }
  .col3-home .col3-home-header p br {
    display: none;
  }

  .col5-home-col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0;
    padding-left: 0px;
    padding-top: 80px;
  }
  .col5-home-grid {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .col5-home-grid > div h2 {
    font-size: 14px;
  }
  .col5-home-col2-col1 p br {
    display: none;
  }

  .col6-home .dgqu3ubdkl img {
    width: 90%;
  }
}
