.contact-wrap {
  display: flex;
  background: #070f15;
}

.contactwrapcol1 {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contactwrapcol1 img {
  width: 100%;
  border-radius: 5px;
}

.contactwrapcol2 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
  width: 40%;
}

.contactwrapcol2 p {
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.contactwrapcol2-col2 {
  margin-bottom: 40px;
}

.contactwrapcol2-col1 h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 64px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #ffffff;
}
